# ============================== DOKS CONFIG ============================== #

doks_cluster_name_prefix = "mastodon-k8s"
doks_k8s_version         = "1.25"
doks_cluster_region      = "nyc1"

# Primary pool configuration (REQUIRED)

doks_primary_node_pool = {
  name       = "mastodon-main"
  node_count = 3
  size       = "s-2vcpu-4gb"
}

# Create additional DOKS node pools 
# Dedicated node pools are useful to spread the load 
#  created by each component, such as: web, streaming or sideqkiq (OPTIONAL)

# doks_additional_node_pools = {
#   "mastodon-web" = {
#     node_count = 1
#     size       = "s-2vcpu-4gb"
#   },
#   "mastodon-streaming" = {
#     node_count = 1
#     size       = "s-2vcpu-4gb"
#   },
#   "mastodon-sidekiq" = {
#     node_count = 1
#     size       = "s-2vcpu-4gb"
#   }
# }

# ================================== K8S CONFIG ================================== #

mastodon_k8s_namespace = "mastodon"

# Sets the domain name for your Mastodon instance (REQUIRED)
mastodon_web_domain    = "<YOUR_DOMAIN_NAME_HERE>"

# ===================== EXTERNAL POSTGRES CONFIG (DO MANAGED) ===================== #

enable_external_postgresql = false

# ===================== EXTERNAL REDIS CONFIG (DO MANAGED) ======================= #

enable_external_redis = false

# ======================= EXTERNAL S3 CONFIG (DO MANAGED) ========================= #

enable_external_s3 = false
